In [ ]:
import sqlite3

In [ ]:
# Create/connect to DB
conn = sqlite3.connect('gen_ai.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [ ]:
# Insert into 'clients' table
insert_clients = '''
INSERT INTO clients (client_id, name, address, country, telephone, email)
VALUES 
    (1, 'Arek Pierwszy', 'Pawia 1', 'Poland', '+1-555-555-5555', 'arek@avanade.com'),
    (2, 'Marek Drugi', 'Pawia 2', 'Poland', '+1-555-555-5556', 'marek@avanade.com'),
    (3, 'Darek Treci', 'Pawia 3', 'Poland', '+1-555-555-5557', 'darek@avanade.com');
'''
cursor.execute(create_table_clients)

# Commit the changes
conn.commit()

In [ ]:
# Insert into 'products' table
insert_products = '''
INSERT INTO products (product_id, product_name, category)
VALUES 
    (1, 'Headphones B&W', 'Headphones'),
    (2, 'Headphones Sony', 'Headphones'),
    (3, 'Headphones B&O', 'Headphones'),
    (4, 'Speakers B&W', 'Speakers'),
    (5, 'Speakers Sony', 'Speakers'),
    (6, 'Speakers B&O', 'Speakers'),
    (7, 'Amp B&W', 'Amps'),
    (8, 'Amp Sony', 'Amps'),
    (9, 'Amp B&O', 'Amps'),
    (10, 'Cables', 'Others');
'''
cursor.execute(insert_products)

# Commit the changes
conn.commit()

In [ ]:
# Insert into 'client_orders' table
insert_orders = '''
INSERT INTO client_orders (order_no, order_date, product, quantity, payment_status, client_id)
VALUES 
    (1, '2023-10-31', 1, 2, 'Paid', 1),
    (2, '2023-10-30', 3, 1, 'Pending', 1),
    (3, '2023-10-29', 2, 3, 'Paid', 1),
    (4, '2023-10-31', 5, 2, 'Pending', 2),
    (5, '2023-10-30', 6, 1, 'Paid', 2),
    (6, '2023-10-29', 4, 3, 'Paid', 2),
    (7, '2023-10-31', 8, 2, 'Paid', 3),
    (8, '2023-10-30', 9, 1, 'Pending', 3),
    (9, '2023-10-29', 7, 3, 'Pending', 3),
    (10, '2023-10-28', 10, 2, 'Paid', 3);
'''
cursor.execute(insert_orders)

# Commit the changes
conn.commit()